[submodule ".registry"]
	path = .registry
	url = https://github.com/s3alfisc/s3alfisc.r-universe.dev
	branch = HEAD
[submodule "JuliaConnectoR.utils"]
	path = JuliaConnectoR.utils
	url = https://github.com/s3alfisc/JuliaConnectoR.utils
[submodule "fwildclusterboot"]
	path = fwildclusterboot
	url = https://github.com/s3alfisc/fwildclusterboot
[submodule "summclust"]
	path = summclust
	url = https://github.com/s3alfisc/summclust
[submodule "wildrwolf"]
	path = wildrwolf
	url = https://github.com/s3alfisc/wildrwolf
[submodule "wildwyoung"]
	path = wildwyoung
	url = https://github.com/s3alfisc/wildwyoung
