[submodule ".registry"]
	path = .registry
	url = https://github.com/s3alfisc/universe
	shallow = true
	branch = HEAD
[submodule "fwildclusterboot"]
	path = fwildclusterboot
	url = https://github.com/s3alfisc/fwildclusterboot
	shallow = true
	registered = true
[submodule "wildrwolf"]
	path = wildrwolf
	url = https://github.com/s3alfisc/wildrwolf
	shallow = true
	registered = true
[submodule "JuliaConnectoR.utils"]
	path = JuliaConnectoR.utils
	url = https://github.com/s3alfisc/JuliaConnectoR.utils
	shallow = true
	registered = true
