[submodule ".registry"]
	path = .registry
	url = https://github.com/s3alfisc/universe
	shallow = true
	branch = HEAD
[submodule "fwildclusterboot"]
	path = fwildclusterboot
	url = https://github.com/s3alfisc/fwildclusterboot
	shallow = true
	registered = true
